@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  min-height: 100%;
  font-family: "PT sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  color: #000000;
}

.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
}

.navigation__logo {
  position: absolute;
  top: 0;
  left: 70px;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 140px;
  height: 70px;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 360px;
  margin: 0;
  margin-left: 168px;
  padding: 0;
  list-style-type: none;
}

.navigation__list--user {
  max-width: 270px;
  margin-left: auto;
}

.navigation__list--user .navigation__link {
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
}

.navigation__link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  background-color: #ffffff;
  text-decoration: none;
  text-align: center;
}

.navigation__link--underline::before {
  position: absolute;
  bottom: 0;
  right: 16px;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation__link--top {
  position: relative;
}

.navigation__list--user .navigation__item:last-child {
  margin-left: 20px;
}

.navigation__count {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 11px;
  right: 4px;
  z-index: 2;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 50%;
  vertical-align: baseline;
}

.navigation__button {
  display: inline-block;
  padding: 8px 34px;
  font-family: "PT Sans", sans-serif;
  background: #756157;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: auto;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.main-container__image {
  padding-top: 51px;
  padding-bottom: 78px;
  background-color: rgba(131, 179, 211, 0.2);
  background-image: url("../images/index-background.jpg");
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.main-index__title {
  margin-top: 69px;
  padding: 0;
  color: #000000;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.main-index__description {
  margin-top: 25px;
  margin-bottom: 90px;
  padding: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages__list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages__item {
  background: rgba(131, 179, 211, 0.2);
  width: 400px;
}

.advantages__info {
  padding: 103px 85px 121px;
}

.advantages__item--blue-1 .advantages__info {
  padding: 92px 85px 111px;
}

.advantages__item--blue-3 .advantages__info {
  padding: 103px 84px 121px;
}

.advantages__title {
  position: relative;
  margin: 0;
  margin-bottom: 62px;
  padding: 0 27px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages__title::before {
  position: absolute;
  bottom: -32px;
  left: 85px;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}

.advantages__image {
  display: block;
  height: 100%;
}

.advantages__item--blue-1 .advantages__title::before {
  background: rgba(255, 255, 255, 0.3);
}

.advantages__description {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantages__item--blue-1 {
  display: flex;
  padding: 0;
  width: 100%;
  color: #ffffff;
  background: #82b3d3;
}

.advantages__item--blue-1 .advantages__description {
  color: #ffffff;
}

.advantages__item--blue-2 {
  background: rgba(131, 179, 211, 0.12);
}

.comfort {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  list-style-type: none;
}

.comfort__item {
  width: 400px;
}

.comfort__item--home,
.comfort__item--present {
  background: rgba(131, 179, 211, 0.12);
}

.comfort__wrapper {
  position: relative;
  padding: 80px 85px 81px;
}

.comfort__wrapper--home::before {
  position: absolute;
  top: 80px;
  left: 50%;
  width: 75px;
  height: 74px;
  content: "";
  transform: translateX(-50%);
  background: url("../images/icon/house.svg") no-repeat center;
}

.comfort__wrapper--food::before {
  position: absolute;
  top: 80px;
  left: 50%;
  width: 74px;
  height: 74px;
  content: "";
  transform: translateX(-50%);
  background: url("../images/icon/food.svg") no-repeat center;
}

.comfort__wrapper--present::before {
  position: absolute;
  top: 78px;
  left: 50%;
  width: 64px;
  height: 76px;
  content: "";
  transform: translateX(-50%);
  background: url("../images/icon/present.svg") no-repeat center;
}

.comfort__title {
  margin: 0;
  margin-top: 102px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.comfort__description {
  margin: 0;
  margin-top: 30px;
  color: #333333;
}

.search {
  padding: 96px 304px;
}

.search__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search___description {
  margin: 0;
  margin-bottom: 54px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.social__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 40px;
  list-style-type: none;
}

.social__icon {
  fill: #83b3d3;
}

.social__button:hover .social__icon {
  fill: #68a2ca;
}

.social__button:focus .social__icon {
  fill: #68a2ca;
}

.social__button:focus-visible {
  outline: none;
}

.social__button:active .social__icon {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-subscription__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-subscription__description {
  margin: 0;
  margin-bottom: 54px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.form {
  display: flex;
  align-items: center;
}

.form__field {
  display: flex;
  width: 100%;
  padding: 12px 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  background: #f2f2f2;
  border: 2px solid #f2f2f2;
  border-radius: 4px 0 0 4px;
}


.contacts__phone {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  display: flex;
  justify-content: center;
  max-width: 360px;
  height: 50px;
}


.contacts__site-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 33px;
}

.site-link:focus-visible {
  outline: none;
}

.site-link__icon {
  fill: #000000;
}

.site-link:hover .site-link__icon {
  fill: #756157;
}

.site-link:focus .site-link__icon {
  fill: #756157;
}

.site-link:active .site-link__icon {
  fill: rgba(117, 97, 87, 0.3);
}

.site-link:focus {
  outline: none;
}

.main-inner {
  color: #000000;
  background-color: #ffffff;
}

.catalog-container {
  padding: 35px 70px 70px;
  background-image: url("../images/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #82d3d3;
}

.catalog-filter {
  display: flex;
}

.inner-header__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  flex-wrap: wrap;
}

.breadcrumbs__item {
  position: relative;
  list-style-type: none;
  margin-right: 28px;
}

.breadcrumbs__item:not(:last-child)::after {
  position: absolute;
  bottom: 5px;
  left: 24px;
  width: 7px;
  height: 10px;
  content: "";
  background-image: url("../images/icon/breadcrumbs.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.breadcrumbs__link {
  position: relative;
  display: block;
  min-width: 13px;
  min-height: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs__link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs__link:hover .breadcrumbs__icon {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs__link:focus-visible {
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}

.breadcrumbs__link:focus-visible .breadcrumbs__icon {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs__link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs__link:focus {
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}

.breadcrumbs__link:focus .breadcrumbs__icon {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs__icon {
  fill: #ffffff;
}

.catalog-filter__group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter__item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-filter__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter__title {
  margin-bottom: 32px;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  cursor: pointer;
}

.control__check {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control__radio {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
}

.control:hover .control__check,
.control:hover .control__label,
.control:hover .control__radio {
  opacity: 0.6;
}

.control__input[type="checkbox"]:checked + .control__check::before {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/icon/checkbox.svg");
  background-repeat: no-repeat;
  content: "";
}

.control__input[type="radio"]:checked + .control__radio::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.control__input[type="checkbox"]:focus-visible + .control__check,
.control__input[type="radio"]:focus-visible + .control__radio {
  outline: 3px solid #83b3d3;
}

.control__input[type="radio"] + .control__radio:hover {
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.control__input[type="checkbox"] + .control__radio:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.control__input[type="checkbox"]:focus + .check,
.control__input[type="radio"]:focus + .control__radio {
  outline: 3px solid #83b3d3;
}

.catalog-filter__group--infrastructure {
  margin-right: 70px;
}

.catalog-filter__group--house {
  margin-right: 151px;
}

.catalog-filter__group--price {
  margin-right: 70px;
}

.catalog-filter__button {
  align-self: end;
}

.catalog-filter__button .button {
  width: 100%;
}

.catalog-form__filter-button .button:first-child {
  margin-bottom: 32px;
}

.catalog-filter__button-apply {
  margin-top: 56px;
  padding: 8px 50px;
  font-family: "PT Sans", sans-serif;
  background: #82b3d3;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

.catalog-filter__button-reset {
  margin-top: 32px;
  padding: 8px 50px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background: transparent;
}

.catalog-hotels {
  padding: 50px 70px 60px;
  color: #000000;
  background-color: #ffffff;
}

.hotels-container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.catalog-hotels__number {
  margin: 0;
  margin-right: 200px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.select-control {
  padding: 12px 32px 12px 19px;
  margin-right: auto;
  width: 292px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-image: url("../images/icon/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 17px center;
  appearance: none;
}

.buttons-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.buttons-list__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 48px;
  min-height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  box-sizing: border-box;
}

.buttons-list__button--mark {
  border: 2px solid #000000;
}

.buttons-list__item:not(:last-child) {
  margin-right: 8px;
}

.buttons-list__button:hover {
  border: 2px solid #000000;
}

.buttons-list__button:focus-visible {
  border: none;
  outline: 2px solid #68a2ca;
  outline-offset: -2px;
}

.buttons-list__button:active {
  border: 2px solid #000000;
}

.buttons-list__button:focus {
  outline: 2px solid #68a2ca;
  outline-offset: -2px;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  margin: 0;
  margin-bottom: 40px;
  gap: 20px;
  padding: 0;
  padding-bottom: 39px;
  border-bottom: 1px solid #e6e6e6;
}

.card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 340px;
  padding: 19px;
  list-style-type: none;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.hotel-card__link {
  display: flex;
  flex-direction: column;
  color: #000000;
  text-decoration: none;
}

.hotel-card__image {
  display: block;
  order: -1;
  height: auto;
  margin-bottom: 16px;
  width: 100%;
  object-fit: cover;
}

.hotel-card__title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-card__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  box-sizing: border-box;
  gap: 16px 20px;
}

.hotel-card__detail {
  padding: 8px 0;
}

.hotel-card__type {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-card__price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: right;
}

.hotel-card__rating {
  padding: 9px 22px 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background: #f2f2f2;
  border-radius: 4px;
}

.hotel-card__stars {
  display: flex;
  align-items: center;
}

.hotel-card__star {
  display: inline-block;
  width: 18px;
  height: 17px;
  margin-right: 6px;
}

.hotel-card__star--active {
  background-image: url("../images/icon/star.svg");
}

.range__input {
  display: flex;
  font-size: 0;
}

.range__label {
  position: relative;
}

.range__scale {
  position: relative;
  height: 4px;
  margin-top: 44px;
  margin-bottom: 8px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range__bar {
  position: absolute;
  left: 0;
  width: 226px;
  height: 4px;
  background-color: #ffffff;
}

.range__toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.range__toggle:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range__toggle:focus {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  outline: 3px solid #83b3d3;
}

.range__toggle:active {
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
  outline: 2px solid #83b3d3;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  left: 207px;
}

.range__min {
  position: absolute;
  top: 13px;
  right: 20px;
  bottom: 14px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  opacity: 0.3;
}

.range__max {
  position: absolute;
  top: 13px;
  right: 20px;
  bottom: 14px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  opacity: 0.3;
}

.range__price {
  display: block;
  width: 143px;
  padding: 11px 8px 9px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-indent: 10px;
  background: #f2f2f2;
  border: 2px solid #ffffff;
  border-radius: 4px 0 0 4px;
  box-sizing: border-box;
  cursor: pointer;
}

.range__label:not(:last-child) {
  margin-right: 2px;
}

.range__price:hover {
  background: #e6e6e6;
  border-color: #e6e6e6;
}

.range__price:focus-visible {
  background: #e6e6e6;
  border-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.range__price:active {
  border: 2px solid #000000;
  outline: none;
}

.range__price::-webkit-outer-spin-button,
.range__price::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.max {
  border-radius: 0 4px 4px 0;
}

.max:focus {
  border-radius: 0 4px 4px 0;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search__button {
  padding: 8px 50px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  background: #756157;
  text-decoration: none;
  text-align: center;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:focus-visible {
  outline: none;
}

.button:disabled {
  background: #e5e5e5;
}

.button--brown {
  display: inline-block;
  background: #756157;
}

.button--brown:hover {
  background: #615048;
}

.button--brown:focus {
  background: #615048;
}

.button--blue {
  background: #82b3d3;
}

.button--blue:hover {
  background-color: #68a2ca;
}

.button--blue:focus {
  background-color: #68a2ca;
}

.button--green {
  background: #7db54f;
}

.button--green:hover {
  background-color: #6c9e42;
}

.button--green:focus {
  background-color: #6c9e42;
}

.button--transparent {
  background-color: transparent;
  box-sizing: border-box;
}

.button--transparent:hover {
  opacity: 0.6;
}

.button--transparent:focus-visible {
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
  border-radius: 4px;
}

.button--transparent:disabled {
  background-color: transparent;
  opacity: 0.1;
}

.button--transparent:focus {
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
  border-radius: 4px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination__link {
  display: block;
  width: 60px;
  min-height: 60px;
  max-width: 160px;
  padding: 11px 24px;
  box-sizing: border-box;
  background: #82b3d3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
}

.pagination__item {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.pagination__item:not(:last-child) {
  margin-right: 8px;
}

.pagination__item:last-child .pagination__link {
  padding: 11px 18px;
}

.pagination__link--current {
  background: #f2f2f2;
  color: #000000;
}

.pagination__link--all {
  background: #ffffff;
  color: #000000;
  padding: 11px 23px;
}

.pagination__link:not(.pagination__link--current):not(.pagination__link--transparent):hover {
  background: #68a2ca;
}

.pagination__link:not(.pagination__link--current):not(.pagination__link--transparent):focus-visible {
  background: #68a2ca;
  outline: none;
}

.pagination__link--current:focus-visible,
.pagination__link--transparent:focus-visible {
  outline: none;
}

.pagination__link:not(.pagination__link--current):not(.pagination__link--transparent):active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination__link:not(.pagination__link--current):not(.pagination__link--transparent):focus {
  outline: none;
}

.page-footer {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px;
  align-items: center;
}


.footer-subscription {
  padding: 96px 258px 104px;
  color: #ffffff;
  text-align: center;
}

.footer-subscription--index {
  background-color: rgba(131, 179, 211, 0.7);
  background-image: url("../images/footer-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.footer-subscription--individ {
  color: #000000;
  background-color: #ffffff;
}

.footer-subscription--individ .footer-subscription__description {
  color: #333333;
}

.footer-subscription--individ .footer-subscription__title {
  color: #000000;
}


.form__field:hover {
  background: #e6e6e6;
}

.form__button {
  padding: 8px 50px;
  font-family: "PT Sans", sans-serif;
  background: #82b3d3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 0 4px 4px 0;
}

input[type="email"]::placeholder {
  opacity: 0.6;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 240px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.social__button:focus {
  outline: none;
}

.contacts__phone:focus {
  color: #756157;
  outline: none;
}

.contacts__phone:hover,
.contacts__phone:focus {
  color: #756157;
}

.contacts__phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.site-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 33px;
}

.site-link--icon {
  fill: #000000;
}

.modal__container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  overflow: auto;
}

.modal__container--close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  width: 717px;
  padding: 64px 70px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  box-sizing: border-box;
}

.modal__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.modal__group--date {
  margin-bottom: 23px;
}

.modal__close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 53px;
  height: 53px;
  padding: 0;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: none;
  outline: 3px solid transparent;
  cursor: pointer;
}

.modal__close-button::before {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  background: url("../images/icon/cross.svg") center center no-repeat;
  color: #000000;
}

.modal__close-button:hover {
  background-color: #e6e6e6;
}

.modal__close-button:focus-visible {
  background: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal__close-button:active {
  background-color: #e6e6e6;
}

.modal__close-button:focus {
  background: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.quantity__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.modal__group--quantity {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 247px;
  margin-bottom: 48px;
}

.modal__close-button:active .close-button__icon {
  opacity: 0.3;
}

.modal__title {
  margin: 0;
  margin-bottom: 64px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.notice {
  margin-top: 4px;
  margin-left: 157px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.input {
  padding: 11px 18px 9px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background: #f2f2f2;
  border-radius: 4px;
  border: 2px solid #f2f2f2;
  box-sizing: border-box;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.input__date {
  width: 100%;
  padding-right: 45px;
}

.input__date:hover {
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}

.input__date:focus-visible {
  background: #e6e6e6;
  border-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.input__date:active {
  background: #ffffff;
  border: 2px solid #000000;
  outline: none;
}

.input__date:focus {
  background: #e6e6e6;
  border-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.input__number {
  width: 110px;
  padding: 11px 39px 9px;
  text-align: center;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.number__button {
  position: absolute;
  top: 14px;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 3px solid transparent;
  opacity: 0.3;
}

.number__button:hover {
  opacity: 1;
  cursor: pointer;
}

.number__button:focus-visible {
  opacity: 1;
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.number__button:active {
  opacity: 0.3;
}

.number__button:focus {
  border-radius: 4px;
  outline: 3px solid #83b3d3;
  opacity: 1;
}

.number__button--minus {
  left: 10px;
  background: url("../images/icon/minus.svg") no-repeat center;
}

.number__button--plus {
  left: 81px;
  background: url("../images/icon/plus.svg") no-repeat center;
}

.button__calendar {
  position: absolute;
  top: 16px;
  right: 22px;
  width: 16px;
  height: 15px;
  margin: 0;
  padding: 0;
  border: none;
  background: url("../images/icon/date.svg") no-repeat center;
  opacity: 0.3;
}

.label {
  max-width: 137px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  word-wrap: break-word;
}

.field-date__start-block,
.field-date__end-block {
  width: 440px;
  position: relative;
}

.date__notice {
  color: #ff5757;
}

.notice__rooms {
  color: #333333;
}

.field-people__block {
  position: relative;
}

.field-child__block {
  position: relative;
}

.label__child {
  margin-left: 5px;
  margin-right: 11px;
  max-width: 90px;
}

.label__child-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button__submit {
  width: 100%;
  padding: 12px 26px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 10px;
}

.hotels-form__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.tooltip {
  position: relative;
  display: inline-block;
  text-align: left;
}

.tooltip__toggle {
  position: relative;
  display: block;
  width: 26px;
  height: 26px;
  margin: 0;
  border: none;
  background-color: #83b3d3;
  border-radius: 50%;
}

.tooltip__toggle::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 2px;
  height: 12px;
  transform: translate(-50%, -50%);
  background: url("../images/icon/tooltip.svg") center no-repeat;
  content: "";
}

.tooltip__text {
  display: none;
  position: absolute;
  top: 41px;
  left: 50%;
  z-index: 6;
  width: 256px;
  padding: 20px 18px 22px 22px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  background: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  box-sizing: border-box;
  transform: translateX(-50%);
}

.tooltip__toggle:hover + .tooltip__text,
.tooltip__toggle:focus + .tooltip__text {
  display: block;
}

.tooltip__text::before {
  position: absolute;
  top: -9px;
  left: 0;
  right: 0;
  width: 19px;
  height: 9px;
  margin-left: auto;
  margin-right: auto;
  content: "";
  background-image: url("../images/icon/triangle.svg");
}
